
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
:root {
    --bg:linear-gradient(80deg, rgba(5, 125, 172, 0.2), rgba(199, 10, 114, 0.1));
    
}

html {
    font-size: 16px;
    background-image: var(--bg);
    background-size: cover;
    color: rgb(0, 0, 0);
    min-height: 100dvh;
    overflow: hidden;
  }

  #up {
    position: absolute;
    left:5%;
    height: 30dvh;
    width: 30dvh;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(5, 125, 172, 0.15), rgba(43, 247, 203, 0.15));
    filter:blur(80px);
    animation: down 40S infinite;
    z-index: -1;
  }

  #down {
    position: absolute;
    right:0;
    height: 25dvh;
    width: 25dvh;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(245, 207, 82, 0.15), rgba(199, 10, 114, 0.15));
    filter:blur(80px);
    animation: up 30s infinite;
    z-index: -1;
  }

  #left {
    position: absolute;
    top:25%;
    height: 25dvh;
    width: 25dvh;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(5, 124, 172, 0.15), rgba(183, 253, 52, 0.15));
    filter:blur(80px);
    animation: left 30s infinite;
    z-index: -1;
  }

  #right {
    position: absolute;
    height: 30dvh;
    width: 30dvh;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgba(26, 248, 18, 0.15), rgba(199, 10, 52, 0.15));
    filter:blur(80px);
    animation: right 40s .5s infinite;
    z-index: -1;
  }

  @keyframes down {
    0%, 100% {
        top:-10dvh;
    }
    70%{
        top:70dvh;
    }
  }


@keyframes up {
  0%, 100% {
      bottom:10dvh;
  }
  70%{
      bottom:70dvh;
  }
}

@keyframes left {
    0%, 100% {
        left:-10dvw;
    }
    70%{
        left:130dvw;
    }
  }


@keyframes right {
  0%, 100% {
      right:-10dvw;
  }
  70%{
      Right:110dvw;
  }
}

body {
    margin: 0 auto;
    max-width: 1200px;
    border: black solid 1px;
}