/*font-family: 'Amatic SC', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg: linear-gradient(80deg, rgba(5, 125, 172, 0.2), rgba(199, 10, 114, 0.1));
  --col1: green;
  --col2: fuchsia;
  --col3: steelblue;
  --col4: orange;
  --col5: teal;
}

html {
  font-size: 16px;
  background-image: var(--bg);
  background-size: cover;
  color: rgb(0, 0, 0);
  min-height: 100dvh;
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif;
}

.to-top {
  position: fixed;
  bottom: 50dvh;
  left: 0rem;
  display: inline-flex;
  border-radius: 0 0.5rem 0.5rem 0rem;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  padding: 1rem 0.5rem;
  background-color: var(--col2);
  transition: 0.2s ease-out;
  filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.6));
  z-index: 5;
}

#up {
  position: absolute;
  left: 5%;
  height: 35dvh;
  width: 35dvh;
  border-radius: 50%;
  background-image: linear-gradient(80deg,
      rgba(5, 125, 172, 0.15),
      rgba(43, 247, 203, 0.15));
  filter: blur(80px);
  animation: down 40s infinite;
  z-index: -1;

}

#down {
  position: absolute;
  right: 2%;
  height: 25dvh;
  width: 25dvh;
  border-radius: 50%;
  background-image: linear-gradient(80deg,
      rgba(245, 207, 82, 0.15),
      rgba(199, 10, 114, 0.15));
  filter: blur(80px);
  animation: up 30s infinite;
  z-index: -1;

}

#left {
  position: absolute;
  /* top:25%; */
  height: 45dvh;
  width: 45dvw;
  border-radius: 50%;
  background-image: linear-gradient(80deg,
      rgba(5, 124, 172, 0.15),
      rgba(183, 253, 52, 0.15));
  filter: blur(80px);
  animation: left 30s infinite;
  z-index: -1;

}

#right {
  position: absolute;
  /* bottom:5%; */
  height: 40dvh;
  width: 40dvw;
  border-radius: 50%;
  background-image: linear-gradient(80deg,
      rgba(26, 248, 18, 0.15),
      rgba(199, 10, 52, 0.15));
  filter: blur(80px);
  animation: right 40s 0.5s infinite;
  z-index: -1;

}

@keyframes down {

  0%,
  100% {
    top: 0dvh;
  }

  70% {
    top: 60dvh;
  }
}

@keyframes up {

  0%,
  100% {
    bottom: 10vh;
  }

  70% {
    bottom: 70vh;
  }
}

@keyframes left {

  0%,
  100% {
    right: 1vw;
    top: 15vh;
  }

  70% {
    right: 45vw;
    top: 50vh;
  }
}

@keyframes right {

  0%,
  100% {
    right: 1dvw;
    bottom: 5dvh;
  }

  70% {
    right: 45vw;
    bottom: 45vh;
  }
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

h2 {
  font-family: "bebas neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

h3 {
  font-family: "Amatic SC", sans-serif;
  font-size: 1.8rem;
}

.btn {
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
}

.spacer {
  padding: 1rem 0rem;
}

.spacer2 {
  padding: 0 0 1rem 0;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100dvh;
  padding: 0 1rem;
}

main {
  display: grid;
  gap: 2rem;
}

/*--HEADER / NAVBAR--*/

header {
  display: grid;
  grid-template-columns: auto minmax(200px, 1fr);
  gap: 1rem;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 100;
  padding: 1rem 0;
}

.logo:hover {
  filter: drop-shadow(0 0.5rem 0.5rem rgba(12, 100, 112, 0.726));
  cursor: pointer;
}

.title {
  font-family: "amatic sc", sans-serif;
  font-size: clamp(1.7rem, 4vw, 3.5rem);
  color: rgb(231, 29, 171);
  align-self: center;
}

nav,
.footer_nav {
  font-family: "Bebas Neue", sans-serif;
}

nav h1 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: white;
  border-bottom: rgb(231, 29, 171) solid 2px;
  width: 100%;
  z-index: 100;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 0.4s ease-in-out;
  display: grid;
}

.nav-item {
  padding: 0.5rem;
}

nav ul,
nav li,
.footer_nav ul,
.footer_nav li {
  list-style: none;
  margin: 0;
  display: block;
  padding-left: 0;
}

nav ul {
  grid-area: 1/1/2/2;
  z-index: 2;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px;
  left: -9999px;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0.25s;
}

.nav-toggle:checked~.nav-toggle-label i:last-child {
  display: block;
}

.nav-toggle:checked~.nav-toggle-label i:first-child {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: rgb(231, 29, 171);
}

.nav-toggle-label:hover {
  filter: drop-shadow(0 0.5rem 0.5rem rgba(12, 100, 112, 0.726));
  cursor: pointer;
}

.nav-toggle-label i:last-child {
  display: none;
}

nav a {
  color: rgb(8, 61, 82);
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: clamp(1.8rem, 3vw, 2rem);
}

.active,
nav a:hover {
  font-weight: bold;
  color: rgb(8, 61, 82);
  transition: all 0.15s ease;
}

.active,
nav .nav-item:hover {
  background-color: rgba(231, 29, 170, 0.15);
  transition: all 0.4s ease;
}

.logo {
  height: 100%;
}

.logo img {
  max-height: 6rem;
  min-height: 3rem;
}

/*-- FOOTER --*/

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto, 1fr;
  position: sticky;
  top: 100%;
  margin-top: 2rem;
}

footer a {
  text-decoration: none;
  color: #ee4238;
}

footer a:hover {
  font-weight: bold;
}

.footer_nav {
  background-color: rgba(0, 128, 128, 0.5);
  grid-area: 1/1/2/2;
  align-self: self-start;
  z-index: 3;
}

.footer_nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  column-gap: 1rem;
}

.footer_nav a {
  color: white;
  text-decoration: none;
}

.footer_nav a:hover {
  font-style: italic;
  text-decoration: underline;
}

.footer_content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  z-index: 2;
  grid-area: 2/1/3/2;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.footer_content h3 {
  color: rgb(238, 66, 56);
}

.visit iframe {
  border-radius: 1rem;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  gap: 1rem;
}

.author p {
  font-size: 0.8rem;
}

.some {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.fancy_bg {
  --s: 6rem;
  /* control the size */
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;

  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(from 60deg at calc(200% / 3),
      var(--c3) 60deg,
      var(--c2) 0 120deg,
      #0000 0),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0);
  background-size: calc(1.732 * var(--s)) var(--s);
  min-height: 10rem;
  opacity: 0.1;
  z-index: 1;
  grid-area: 1/1/3/2;
}

.fancy_bg2 {
  --s: 10px;
  /* control the size */

  --c: #0000, #56b82f 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #ffffff;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
  opacity: 0.05;
  z-index: 1;
  grid-area: 1/1/2/2;
}

.icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.icon:hover {
  border: white solid 3px;
}

#face {
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  border-radius: 44% 56% 83% 17% / 40% 58% 42% 60%;
}

#insta {
  background-color: #f7accf;
  background-image: linear-gradient(147deg, #f7accf 0%, #ff1053 74%);
  border-radius: 18% 82% 72% 28% / 40% 28% 72% 60%;
}

#snap {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  border-radius: 12% 88% 19% 81% / 76% 50% 50% 24%;
}

#youtube {
  background-color: #990000;
  background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
  border-radius: 49% 51% 67% 33% / 78% 84% 16% 22%;
}

/*--MAIN--*/

/*--HERO--*/

.slider {
  overflow: hidden;
  aspect-ratio: 21/9;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

/*--HIGHLIGHTS--*/

.highlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;

  .highlights>* {
    flex: 1;
  }
}

.icon-btn {
  display: none;
}

.highlight {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight:hover,
.action:hover {
  border: white solid 3px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.exhibitions a,
.event-container a,
.highlights a,
.involve a,
.contact_us a {
  text-decoration: none;
  color: white;
}

.one {
  background-color: green;
  border-radius: 84% 16% 39% 61% / 32% 46% 54% 68%;
}

.two {
  background-color: fuchsia;
  border-radius: 26% 74% 77% 23% / 85% 78% 22% 15%;
}

.three {
  background-color: steelblue;
  border-radius: 32% 68% 24% 76% / 80% 65% 35% 20%;
}

.four {
  background-color: orange;
  border-radius: 86% 14% 76% 24% / 36% 64% 36% 64%;
}

/*--EVENTS--*/

.event-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(2, auto);
  row-gap: .5rem;
}

.ev-img {
  grid-area: 1/1/2/2;
}

.event-img,
.event-img1 {
  min-width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center center;
  display: block;
}

.event-content {
  grid-area: 2/1/3/2;
  padding: 1rem;
  z-index: 2;
}

.exhibitions h2,
.event-content h2 {
  font-size: clamp(1.5rem, 2dvw, 1.8rem);
  text-decoration: underline;
  text-decoration-color: rgb(231, 29, 171);
}

.action {
  z-index: 3;
  background-color: var(--col5);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--col5) solid 3px;
  color: white;
  border-radius: .3rem;
}



#eventbtn {
  grid-area: 3/1/4/2;
  padding: .5rem;
}


.events {
  display: grid;
  gap: 2rem;
}

.event-container2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: 1fr 1rem 1rem 1rem auto auto;
  color: white;
}

.event-container2 h2 {
  text-decoration: none;
}

.img-holder2 {
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
  overflow: hidden;
  border: solid 3px;
}

#ev-con1,
#ev-con2,
#ev-con3 {
  border-radius: 1rem;
}

#ev-img1 {
  grid-area: 1/1/4/4;
  border-color: var(--col5);
}

#ev-con1 {
  grid-area: 2/2/7/3;
  background-color: var(--col5);
}

#ev-img2 {
  grid-area: 1/1/4/4;
  border-color: var(--col3);
}

#ev-con2 {
  grid-area: 2/2/7/3;
  background-color: var(--col3);
}

#ev-img3 {
  grid-area: 1/1/4/4;
  border-color: var(--col2);
}

#ev-con3 {
  grid-area: 2/2/7/3;
  background-color: var(--col2);
}

/*--EXHIBITIONS--*/

.exhibitions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0.5rem;
  grid-template-areas:
    "img1 text2 text2"
    "img1 exhibbtn img2"
    "text1 text1 img2";
}

.exhibitions p,
.exhibitions_main p {
  padding-bottom: 0.5rem;
}

#a1 {
  grid-area: img1;
}

#a2 {
  grid-area: img2;
}

#a3 {
  grid-area: text2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1lh;
}

#a4 {
  grid-area: text1;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
}

#exhib-btn {
  grid-area: exhibbtn;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  height: 100%;
}

.ex-img {
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.exhib-content {
  overflow: hidden;
}

.exhibitions_main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10 auto);
  color: white;
}

.ex-img2 {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  border: solid 3px;
  border-radius: 1rem 1rem 0 0;
}

#e1 {
  grid-area: 1/1/2/2;
}

#e2 {
  grid-area: 3/1/4/2;
}

#e3 {
  grid-area: 5/1/6/2;
}

#e4 {
  grid-area: 7/1/8/2;
}

#e5 {
  grid-area: 9/1/10/2;
}

#e6 {
  grid-area: 2/1/3/2;
  background-color: var(--col1);
}

#e7 {
  grid-area: 4/1/5/2;
  background-color: var(--col2);
}

#e8 {
  grid-area: 6/1/7/2;
  background-color: var(--col3);
}

#e9 {
  grid-area: 8/1/9/2;
  background-color: var(--col4);
}

#e10 {
  grid-area: 10/1/11/2;
  background-color: var(--col5);
}

#e1 .ex-img2 {
  border-color: var(--col1);
}

#e2 .ex-img2 {
  border-color: var(--col2);
}

#e3 .ex-img2 {
  border-color: var(--col3);
}

#e4 .ex-img2 {
  border-color: var(--col4);
}

#e5 .ex-img2 {
  border-color: var(--col5);
}

#e1,
#e2,
#e3,
#e4,
#e5 {
  margin-top: 2rem;
}

#e6,
#e7,
#e8,
#e9,
#e10 {
  display: grid;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
}

/*--ABOUT--*/

.about {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.about-img {
  object-fit: cover;
  display: block;
  overflow: hidden;
  height: 10rem;
  width: 100%;
}

.about img {
  height: 100%;
  width: 100%;
  object-position: center center;
  display: block;
  object-fit: cover;
}

#si1 {
  grid-area: 3/1/4/2;
}

#si2 {
  grid-area: 5/1/6/2;
}

.quote {
  position: relative;
  color: var(--col2);
  padding: 2rem;
}

.quote::before {
  content: open-quote;
  font-family: serif;
  font-weight: 900;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: -1;
  top: -1rem;
  left: 0;
}

.about h2 {
  font-size: clamp(1.8rem, 6dvw, 3rem);
  color: var(--col5);
}

.about h3 {
  font-size: clamp(1.8rem, 3dvw, 2.5rem);
}

/*--VISIT US--*/

.visit_us {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-row: repeat(7 auto);
  row-gap: 2rem;
  align-items: center;
  color: white;
}

.visit_us .visit-icon:nth-of-type(1),
.visit_us .location {
  background-color: var(--col1);
}

.visit_us .visit-icon:nth-of-type(3),
.visit_us .admission {
  background-color: var(--col2);
}

.visit_us .visit-icon:nth-of-type(5),
.visit_us .hours {
  background-color: var(--col3);
}

.visit_us .visit-icon:nth-of-type(7),
.visit_us .accessibility {
  background-color: var(--col4);
}

.visit_us .visit-icon:nth-of-type(9),
.visit_us .food {
  background-color: var(--col5);
}

.visit_us .visit-icon:nth-of-type(11),
.visit_us .shop {
  background-color: var(--col1);
}

.visit_us h1 {
  grid-area: 1/1/2/3;
  font-size: clamp(2rem, 5dvw, 3rem);
  color: var(--col1);
  text-align: center;
}

.visit_us .visit-icon {
  grid-column-start: 1;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--col5);
  margin-left: 0.5rem;
  border: white solid 3px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.visit_us .location,
.visit_us .admission,
.visit_us .hours,
.visit_us .accessibility,
.visit_us .food,
.visit_us .shop {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-column-start: 2;
  padding: 1rem;
  border-radius: 1rem;
}

.location p {
  padding-bottom: 1rem;
}

.visit_us iframe {
  border-radius: 1rem;
}

.visit-img,
.involved-img {
  height: 100%;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .4;
}

/*--EXPLORE  / GET INVOLVED--*/

.explore,
.involve {
  display: grid;
  row-gap: 2rem;
}

.explore h1,
.involve h1 {
  grid-area: 1/1/2/2;
  font-size: clamp(2rem, 5dvw, 3rem);
  text-align: center;
}

.explore h1 {
  color: var(--col2);
}

.involve h1 {
  color: var(--col4)
}

.explore p,
.involve p {
  padding-bottom: 1lh;
  text-align: justify;
}

.explore-img,
.involve-img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
  justify-self: center;
}

.involve-img {
  display: none;
}

.explore img,
.involve img {
  height: 100%;
  width: 100%;
  object-position: center top;
  display: block;
  object-fit: cover;
}

.kids,
.teachers,
.researchers,
.support,
.volunteer,
.internship {
  display: grid;
  column-gap: 1rem;
  row-gap: .5rem;
}

.kids .explore-img,
.volunteer .involve-img {
  border: var(--col3) solid 3px;
}

.kids h2,
.volunteer h2 {
  color: var(--col3);
}

.teachers .explore-img {
  border: var(--col4) solid 3px;
}

.teachers h2 {
  color: var(--col4);
}

.support .involve-img {
  border: var(--col5) solid 3px;
}

.support h2 {
  color: var(--col5);
}

.researchers .explore-img,
.internship .involve-img {
  border: var(--col1) solid 3px;
}

.researchers h2,
.internship h2 {
  color: var(--col1);
}

.cta p {
  padding-bottom: 0;
}

#donatebtn {
  padding: .5rem;
}

/*--CONTACT--*/
.contact_us {
  display: grid;
}

.contact-form {
  max-width: 650px;
  width: 100%;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  border-radius: 1rem;

}

.contact-form form {
  display: grid;
}

.contact-form form input,
.contact-form form textarea {
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  border: none;
}

form input:hover,
form textarea:hover {
  outline: var(--col5) solid 2px;
}

form input:active,
form textarea:active,
form input:focus,
form textarea:focus {
  outline: var(--col5) solid 2px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.contact_us h1 {
  grid-area: 1/1/2/2;
  font-size: clamp(2rem, 5dvw, 3rem);
  text-align: center;
  color: var(--col3);
}

.contact_us h2 {
  color: var(--col3);
  position: relative;
}


#sent {
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  justify-items: center;
}

#sent h3 {
  color: var(--col2);
}

#sent h2::before {
  content: "\f135";
  font-family: "font awesome 5 free";
  font-weight: 900;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: -1;
  top: 0;
  right: -3rem;
}



/*-------------------Responsive Scaling------------------------*/

@media screen and (min-width: 550px) {

  /*--EVENTS--*/
  .event-container2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }

  .img-holder2 {
    border-radius: 1rem;
    overflow: hidden;
    border: solid 3px;
  }

  .event-img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
  }

  #ev-con1,
  #ev-con2,
  #ev-con3 {
    padding: 2rem;
    box-shadow: none;
  }

  #ev-img1 {
    grid-area: 1/1/1/4;
    border-color: var(--col5);
    border-radius: 1rem 0 0 1rem;
  }

  #ev-con1 {
    grid-area: 1/4/2/6;
    background-color: var(--col5);
    border-radius: 0 1rem 1rem 0;
  }

  #ev-img2 {
    grid-area: 1/3/2/6;
    border-color: var(--col3);
    border-radius: 0 1rem 1rem 0;
  }

  #ev-con2 {
    grid-area: 1/1/2/3;
    background-color: var(--col3);
    border-radius: 1rem 0 0 1rem;
  }

  #ev-img3 {
    grid-area: 1/1/2/3;
    border-color: var(--col2);
    border-radius: 1rem 0 0 1rem;
  }

  #ev-con3 {
    grid-area: 1/3/2/6;
    background-color: var(--col2);
    border-radius: 0 1rem 1rem 0;
  }

  /*--EXHIBITIONS --*/
  .exhibitions_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    row-gap: 2rem;
  }

  .ex-img2 {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
    border: solid 3px;
    border-radius: 1rem 0 0 1rem;
  }

  #e1 {
    grid-area: 1/1/2/2;
  }

  #e2 {
    grid-area: 2/1/3/2;
  }

  #e3 {
    grid-area: 3/1/4/2;
  }

  #e4 {
    grid-area: 4/1/5/2;
  }

  #e5 {
    grid-area: 5/1/6/2;
  }

  #e6 {
    grid-area: 1/2/2/3;
  }

  #e7 {
    grid-area: 2/2/3/3;
  }

  #e8 {
    grid-area: 3/2/4/3;
  }

  #e9 {
    grid-area: 4/2/5/3;
  }

  #e10 {
    grid-area: 5/2/6/3;
  }

  #e1,
  #e2,
  #e3,
  #e4,
  #e5 {
    margin-top: 0;
  }

  #e6,
  #e7,
  #e8,
  #e9,
  #e10 {
    border-radius: 0 1rem 1rem 0;
  }

  /*--ABOUT--*/

  .quote {
    max-width: 50%;
  }

  /*--EXPLORE--*/
  .kids,
  .teachers,
  .researchers {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  .kids h2,
  .teachers h2,
  .researchers h2 {
    grid-area: 1/1/2/3;
  }

  .kids .explore-img,
  .researchers .explore-img {
    grid-area: 2/1/3/2;
  }

  .explore-img {
    border-radius: 1rem;
    min-height: 100%;
    min-width: 100%;
  }

  .teachers .explore-img {
    grid-area: 2/2/3/3;
  }

  .kids .explore-content,
  .researchers .explore-content {
    grid-area: 2/2/3/3;
  }

  /*--INVOLVE--*/
  .involve {
    grid-template-columns: .5fr 1fr;
    column-gap: 1rem;
  }

  .involve h1 {
    grid-area: 1/1/2/3;
  }

  .support,
  .volunteer,
  .internship {
    grid-column-start: 2;
  }

  .involved-img {
    grid-area: 2/1/5/2;
    background-image: url(../images/reading-2762010_1280.webp);
  }

}

/*----------------------------------RESPONSIVE------------------------*/
@media screen and (min-width: 650px) {
  /*--ABOUT--*/

  .about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    align-content: space-evenly;
    position: relative;
  }

  .about h2 {
    grid-area: 1/1/2/3;
  }

  .quote {
    grid-area: 2/1/4/2;
    max-width: 100%;
    position: absolute;
  }

  #si1 {
    grid-area: 7/1/8/3;
  }

  #si2 {
    grid-area: 4/1/7/2;
    min-height: 100%;
    width: 100%;
  }

  .about p {
    grid-column-start: 2;
  }

  /*--VISIT--*/

  .visit_us {
    grid-template-columns: 3rem 1fr 1rem 1fr;
  }

  .visit_us h1 {
    grid-area: 1/1/2/5;
  }

  #visit-img1 {
    grid-area: 2/4/5/5;
    background-image: url(../images/luke-ellis-craven-400722.webp);
  }

  #visit-img2 {
    grid-area: 5/4/8/5;
    background-image: url(../images/mavis-cw-164128.webp);
  }
}


/*----------------------------------RESPONSIVE------------------------*/
@media screen and (max-width: 720px) {
  /*--HIGHLIGHTS--*/

  .highlights {
    display: inline-flex;
    gap: 1rem;
  }

  .highlights .btn {
    display: none;
  }

  .icon-btn {
    display: block;
    font-size: 2rem;
  }

  .highlight {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
  }

  .one,
  .two,
  .three,
  .four {
    border-radius: 50%;
  }

  .one {
    border: var(--col1) solid 3px;
  }

  .two {
    border: var(--col2) solid 3px;
  }

  .three {
    border: var(--col3) solid 3px;
  }

  .four {
    border: var(--col4) solid 3px;
  }

}


/*----------------------------------RESPONSIVE------------------------*/
@media screen and (min-width: 850px) {
  /*--NAVBAR--*/

  nav {
    all: unset;
    justify-content: flex-end;
    align-self: center;
    grid-area: 1/2/2/4;
    z-index: 100;
  }

  nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.6rem;
    z-index: 2;
    column-gap: 0.5rem;
  }

  header {
    display: grid;
    grid-template-columns: auto minmax(200px, 1fr) auto;
  }

  .logo {
    grid-area: 1/1/2/2;
    height: fit-content;
  }

  .logo img {
    height: 100px;
  }

  .title {
    grid-area: 1/2/2/3;
  }

  .nav-toggle-label {
    display: none;
  }

  .active,
  nav .nav-item:hover {
    border-radius: 1rem;
  }

  /*--FOOTER--*/

  .footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 2;
    grid-area: 2/1/3/2;
    gap: 1rem;
    padding: 1rem;
  }

  /*--EVENTS--*/

  .event-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .img-holder {
    border-radius: 9% 91% 77% 23% / 14% 52% 48% 86%;
    border: white solid 5px;
    z-index: 1;
    overflow: hidden;
  }

  .ev-img {
    grid-area: 1/2/12/8;
  }

  .event-img1 {
    min-width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center center;
    display: block;
  }

  .event-content1 {
    grid-area: 1/6/12/12;
    align-self: center;
    background-color: var(--col5);
    border-radius: 1rem;
    color: white;
    border: white solid 3px;
    padding: 4rem;
    z-index: 2;
  }

  /*   .action {
    z-index: 3;
    background-color: rgb(231, 29, 171);
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(231, 29, 171) solid 3px;
  } */

  #eventbtn {
    grid-area: 8/6/10/8;
    border-radius: 42% 58% 75% 25% / 72% 61% 39% 28%;
    border: white solid 3px;
    transition: all .25s ease;
  }

  #eventbtn:hover {
    border-radius: 50%;
    filter: drop-shadow(0rem 0.0rem 1rem rgba(0, 0, 0, 0.8));
  }

  .event-container2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    color: white;
  }

  .img-holder2 {
    border-radius: 90% 10% 90% 10% / 10% 90% 10% 90%;
    overflow: hidden;
    border: solid 3px;
  }

  .event-img {
    min-width: 100%;
    min-height: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center center;
    display: block;
  }

  #ev-con1,
  #ev-con2,
  #ev-con3 {
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  #ev-img1 {
    grid-area: 1/6/4/12;
    border-color: var(--col5);
    border-radius: 90% 10% 90% 10% / 10% 90% 10% 90%;
  }

  #ev-con1 {
    grid-area: 2/2/3/7;
    background-color: var(--col5);
    border-radius: 1rem;
  }

  #ev-img2 {
    grid-area: 1/2/4/8;
    border-color: var(--col3);
    border-radius: 10% 90% 10% 90% /90% 10% 90% 10%;
  }

  #ev-con2 {
    grid-area: 2/7/3/12;
    background-color: var(--col3);
    border-radius: 1rem;
  }

  #ev-img3 {
    grid-area: 1/6/4/12;
    border-color: var(--col2);
    border-radius: 90% 10% 90% 10% / 10% 90% 10% 90%;
  }

  #ev-con3 {
    grid-area: 2/2/3/8;
    background-color: var(--col2);
    border-radius: 1rem;
  }

  /*--EXHIBITIONS--*/

  .exhibitions {
    grid-template-columns: 0.1rem 1fr 0.1rem 0.1rem 1fr 0.1rem 0.1rem 1fr 0.1rem;
    grid-template-rows: repeat(6, auto);
    column-gap: 1rem;
    row-gap: 0;
  }

  #a1 {
    grid-area: 1/1/5/4;
  }

  #a2 {
    grid-area: 1/4/5/7;
  }

  #exhib-btn {
    grid-area: 1/7/7/10;
    border-radius: 1rem;
  }

  #a3 {
    grid-area: 4/2/7/3;
    justify-content: start;
    background-color: white;
    padding: 1rem;
  }

  #a4 {
    grid-area: 4/5/7/6;
    text-align: left;
    justify-content: start;
    background-color: white;
    padding: 1rem;
  }

  .ex-img {
    height: 30rem;
    min-width: 100%;
    object-fit: cover;
  }

  .exhib-content {
    border-radius: 1rem;
    border: rgb(231, 29, 171) solid 3px;
  }

  .exhibitions_main {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1rem 1rem auto auto auto auto 1rem 1rem auto auto;
    column-gap: 1rem;
    row-gap: 3rem;
    color: white;
  }

  .ex-img2 {
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  #e1 {
    grid-area: 1/1/4/5;
    z-index: 2;
  }

  #e2 {
    grid-area: 6/3/10/7;
    z-index: 2;
  }

  #e3 {
    grid-area: 6/7/10/11;
    z-index: 2;
  }

  #e4 {
    grid-area: 1/9/4/13;
    z-index: 2;
  }

  #e5 {
    grid-area: 1/5/4/9;
    z-index: 2;
  }

  #e6 {
    grid-area: 3/1/6/5;
  }

  #e7 {
    grid-area: 9/3/13/7;
  }

  #e8 {
    grid-area: 9/7/13/11;
  }

  #e9 {
    grid-area: 3/9/6/13;
  }

  #e10 {
    grid-area: 3/5/6/9;
  }

  #e6,
  #e7,
  #e8,
  #e9,
  #e10 {
    border-radius: 1rem;
  }

  /*--ABOUT--*/

  .about {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, auto);
    align-content: space-evenly;
    position: relative;
  }

  .about h2 {
    grid-area: 1/1/2/4;
  }

  .quote {
    grid-area: 2/1/4/2;
    max-width: 100%;
    position: absolute;
  }

  #si1 {
    display: none;
  }

  #si2 {
    grid-area: 2/3/7/4;
    min-height: 100%;
    width: 100%;
  }

  .about p {
    grid-column-start: 2;
  }

  /*--VISIT--*/
  .visit_us {
    grid-template-columns: 3rem 1fr 1rem 1fr 1rem 1fr;
  }

  .visit_us h1 {
    grid-area: 1/1/2/7;
  }

  #visit-img3 {
    grid-area: 2/6/4/7;
    background-image: url(../images/toa-heftiba-412579.jpg);
  }

  #visit-img4 {
    grid-area: 4/6/8/7;
    background-image: url(../images/roberto-nickson-396152.webp);
  }

  /*--EXPLORE--*/
  .explore,
  .involve {
    grid-template-columns: .25fr 1fr .25fr;
  }

  .explore h1 {
    grid-area: 1/1/2/4;
  }

  .kids,
  .teachers,
  .researchers {
    grid-column-start: 2;
  }

  .support,
  .volunteer,
  .internship {
    grid-template-columns: 1fr .5fr;
    justify-items: center;
    align-items: center;
  }

  .involve h2 {
    grid-area: 1/1/2/3;
  }

  .involve img {
    object-position: center center;
  }

  .involve-img {
    border-radius: 1rem;
    min-height: 100%;
    min-width: 100%;
    display: block;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}